@model peliculasweb.Models.PeliculaActor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PeliculaActor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Película
        </dt>
        <dd class="col-sm-10">
            @Model.Pelicula?.Titulo (@Model.PeliculaId)
        </dd>
        <dt class="col-sm-2">
            Actor
        </dt>
        <dd class="col-sm-10">
            @Model.Actor?.Nombre (@Model.ActorId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { peliculaId = Model.PeliculaId, actorId = Model.ActorId }) |
    <a asp-action="Index">Back to List</a>
</div>